<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Atena</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    </head>
    <body>
        <section>
            <div id="ask-section">
                <div id="card" class="card" >
                    <div class="container-img">
                        <img id="imagem" class="img-card" alt="">                
                    </div>
                    <p id="ask" ></p>
                    <div class="container-button">
                        <div id="id_ask" style="display:none ;"></div>
                        <div id="button-1" onclick="certoOuErrado(this)" value="option_1"  class="button">1</div>
                        <div id="button-2" onclick="certoOuErrado(this)" value="option_2"  class="button">2</div>
                        <div id="button-3" onclick="certoOuErrado(this)" value="option_3"  class="button">3</div>
                        <div id="button-4" onclick="certoOuErrado(this)" value="option_4"  class="button">4</div>
                    </div>
                </div> 
            </div>
            
            <div id="pontuacao" class="card" >
                <div  style="text-align: center; color: rgb(250, 14, 14);"  class="result">
                    <div class="card-body text-danger">
                        <h1>Obrigada pela Participação!</h1>
                        <h5 id="h5"></h5>
                    </div>
                    <img src="/assets/gif.gif" class="gif" />
                </div>
            </div>
        </section>
        <script src="../js/main.js" ></script>
    </body>
</html>